/*@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/

@font-face{
    font-family: 'Comic Neue';
    src: url(./fonts/ComicNeue-Regular.ttf);
}

*{
    font-family: 'Comic Neue';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*

body {
    background: linear-gradient(155deg, rgba(253,187,45,0.5) 0%, rgba(34,193,195,0.4) 100%);
}

header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(226, 163, 28, 0.8) 0%, rgba(34,193,195,0.8) 120%);
}

main{
    display: flex;
    flex-direction: column;
}

h1{
    padding: 0.3rem 3rem;
    font-weight: bolder;
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
    transition: transform 3s; 
}
h3 {
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
}
nav{
    height: 10vh;
    padding: 0.1rem 0.8rem;
    /* position: absolute;
    right: 10vw;
    top: 9vh; */
    display: flex;
    justify-content: center;
    z-index: 1;
}

nav a{  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: royalblue;
    height: 6vh;
    width: 8rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem ;
    border: 2px solid black;
    box-shadow: 3px 3px 1.5px 1.5px dimgrey;
    margin: 0.3rem;
}

a[href="#"]{
    background-color: seagreen;
}

a:hover{
    color: black;
    background-color: orange;
}

a {
    transition: transform 1s;
}

a:hover {
    transform: scale(1.15);
}

section {
    text-align: left;
}


p{
    font-size: 1.2rem;
}

article>img:hover{
    transition: transform 2s; 
    transform: scale(1.2);
}

li {
    margin-left: 1rem;
}   

table {
    border: 2px solid black;
    border-radius: 6px;
    border-collapse: collapse;
    font-size: 1.5rem;
    margin: 2rem;
}
th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
}

form {
    margin: 1em 10em 3em 10em;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    flex-wrap: wrap;
}

fieldset {
    margin: 0.1em;
    padding: 0.1em;
    align-self: center;
    border: 0px ;
    font-size: 1.2em;
}

.h2animation:hover {
    transform: scaleY(0.2) skew(180deg,0deg); 
}

.banner {
    margin-top: -2.5rem;
    width: 100%;
    height: 18em;
    z-index: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-image: url("./banner2.jpg");
    background-size: cover;
    opacity: 0.9;
}

.title-box {
    padding: 1rem 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(34,193,195,0.5) 50%, rgba(65,105,225,0) 100%);
}

.align {
    display: inline-block;
    margin: 1rem;
    max-width: 35rem;
}

.list {
    padding: 1rem;
}

.list-none {
    list-style: none;
}

.list-number {
  list-style-type: decimal;
}

.list-lowlatin{
    list-style: lower-latin;
}

.list-disc{
    list-style: disc;
}

.general-subtitle {
    text-align: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 15%;
}

.flex-row-cent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.self{
    display: inline;
}

.grade {
    /* font-variant-position: super; */
    vertical-align: super;
}

.maps{
    padding: 0.5em;
    text-align: center;
}

.extra-info {
    margin: 1em;
    padding: 1em;
}

.form-box {
    border: 1px solid black;
}

.button{
    /* border: 1px solid black; */
    border-radius: 0.2em ;
    font-size: 1.5em;
    font-weight: bolder;
    align-self: center;
    text-align: center;
    margin: 1em;
    padding: 0.3em 1em;
}

.left-title {
    text-align: left;
}

.margin {
    margin: 1rem;
}

#text {
    position: relative;
    top: 0rem;
    vertical-align: top;
    
}

#player-img {
    border-radius: 80%;
}
